* html {
    font-size: 22px;
}
 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ececec;
    width: 100%;
    min-height: 100vh;

}

  /* button */
 
   .header {
    color: rgb(4, 75, 75);
    padding: 1em;
    font-size: 2em;
   }

   .container {
    text-align: center;

   }

    .novatek, .pembe, .novatek, .nutrifeeds, .tiger {
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 1rem;
        padding: 1.5rem;
        height: auto;
    }


    #feedForm {
        width: 100%;
        margin: auto;
    }
  
     img {
        max-width: 170px;
        height: auto;
        border-radius: 442px;
      }

    button {
        color: whitesmoke;
        height: 3em;
        background-color: forestgreen;
        border-radius: 7px;
        font-weight: bold;
        margin: 4px;
    }

    a {
        text-decoration: none;
        border-radius: 3px;
        padding: 3px;
    }

    li {
        list-style: none;
    }
    ul {
        display: grid;
        grid-template-columns: 3;
    }
   
    
    input {
        height: 3em;
    }


    .calculator {
        color: rgb(4, 75, 75);
        max-width: 1200px;
        display: grid;
        margin: 0 auto;
        gap: 0.3rem;
       
    }

    @media (min-width: 600px) {
        .calculator { grid-template-columns: repeat(2, 1fr); }
      }

      @media (min-width: 900px) {
        .calculator { grid-template-columns: repeat(4, 1fr); }
      }

    h3 {
        color: rgb(4, 75, 75);

    }

footer {
    text-align: center;
    color: rgb(4, 75, 75);
}